# NGINX status/stats used by datadog, et al.
server {
  listen {{ .Env.STATUS_LISTEN_PORT }};
  server_name _;

  access_log off;
  allow 127.0.0.1;
  deny all;

  location /nginx_status {
    stub_status;
    # ensures the version information can be retrieved
    server_tokens on;
  }
}
